<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScrollViewImagesGalleries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C7EBC871D33E8AF003EA994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C7EBCA01D33E8AF003EA994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C7EBCAB1D33E8AF003EA994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
